@{
    ViewBag.Title = "Turn Out";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model DXNextHackatonWeb.Models.UserDetailModel

@{ ViewBag.Title = "Turn Out"; }
<div class="row">
    <div class="col-xs-6">
        @*<h2>Manager: <a href="/User/Detail?id=@Model.Manager.objectId">@Model.Manager.displayName</a></h2>*@
        <h2>User: @Model.User.displayName</h2>
        @*<h2>
            Direct Reports:
            @for (var i = 0; i < Model.DirectReports.Count; i++)
            {
                <span><a href="/User/Detail?id=@Model.DirectReports[i].objectId">@Model.DirectReports[i].displayName</a></span>if (i < Model.DirectReports.Count - 1)
                {<span>, </span>}
            }
        </h2>*@

        <h2>
            Event: @Model.Event.Subject
        </h2>
        <div>
            <h3>Start: @Model.Event.Start </h3>
            <h3>End: @Model.Event.End </h3>
            <h3>Organizer: @Model.Event.Organizer.EmailAddress.Name - @Model.Event.Organizer.EmailAddress.Address </h3>
        </div>
    </div>
    @*<div class="col-xs-6">
        <h2>@Model.User.displayName's files</h2>
        <ul>
            @foreach (var file in Model.Files)
            {
                <li>@file.name</li>
            }
        </ul>
    </div>*@
</div>