@{
    ViewBag.Title = "Turn Out";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model DXNextHackatonWeb.Models.UserDetailModel

@{ ViewBag.Title = "Turn Out"; }
<div class="row">
    <div class=" form-group">
        @*<h2>Manager: <a href="/User/Detail?id=@Model.Manager.objectId">@Model.Manager.displayName</a></h2>*@
        <div style="float:left; padding-right:5px;">
            <img src="~/images/Turn Out Icon.png" class="img-rounded" />
        </div>
        <h3>Welcome back @Model.User.displayName</h3>
        
       <br />
        <div id="imageRow" class="row">
            <h3 style="padding-left:20px;">How was the Turn Out?</h3>
            <div id="unHappy" class="col-lg-2">
                <img src="~/images/Unproductive.png" class="img-rounded col" />
            </div>
            <div id="worthWhile" class="col-lg-2">
                <img src="~/images/Worthwhile.png" class="img-rounded col" style="margin-left:-50px; " />
            </div>
        </div>
        <br />
        <div class="row" style="padding-left :20px;">
            <label for="userComment">Comment:</label>
            <textarea class="form-control" rows="5" id="userComment"></textarea>
            <br />
            <button type="button" id="toSubmit" class="btn btn-info">Submit</button>
        </div>

       

    </div>
    @*<h2>
            Direct Reports:
            @for (var i = 0; i < Model.DirectReports.Count; i++)
            {
                <span><a href="/User/Detail?id=@Model.DirectReports[i].objectId">@Model.DirectReports[i].displayName</a></span>if (i < Model.DirectReports.Count - 1)
                {<span>, </span>}
            }
        </h2>*@

    @if (Model.Event != null)
    {
        <h2>
            Event: @Model.Event.Subject
        </h2>
            <div>
                <h3>Start: @Model.Event.Start </h3>
                <h3>End: @Model.Event.End </h3>
                <h3>Organizer: @Model.Event.Organizer.EmailAddress.Name - @Model.Event.Organizer.EmailAddress.Address </h3>
            </div>
    }
</div>
@*<div class="col-xs-6">
        <h2>@Model.User.displayName's files</h2>
        <ul>
            @foreach (var file in Model.Files)
            {
                <li>@file.name</li>
            }
        </ul>
    </div>*@
